<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .name }}</title>
</head>
<body>
  <pre>
{{ .name }} is a no bullshit file hosting service.
=============

HTTP POST files here:
  curl -F'file=@yourfile.png' yourdomain

Maximum file size: 8.0 MiB

If you run a server and like this site, clone it!
Centralization is bad.
https://github.com/samisthefbi/yuki


=============
This website was inspired by 0x0.st.
  </pre>
</body>
</html>
